{% extends 'base.html' %}
{% block content %}

<!-- These are for the autocomplete on add ingredient -->

<!-- Look into using newer versions of jquery -->
<script src="{{url_for('static', filename='js/external/jquery/jquery-1.7.1.js')}}"></script>  
<script src="{{url_for('static', filename='js/external/jquery/jquery-ui-1.8.16.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/external/jquery-1.8.16/ui-darkness/jquery-ui.css') }}"> 

<!-- These are for the autocomplete on add ingredient -->

<h1>{% block title %} Add a new Ingredient {% endblock %}</h1>

<form method="post">
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name"
               placeholder="Ingredient name" class="form-control"
               value="{{ request.form['name'] }}" id="tags">
    </div>
    
    <label for="category">Category</label>
    <select name='category' id='category' class="selectpicker">
        <option value="">Select a category</option>
        <option value="Meat">Meat</option>
        <option value="Produce">Produce</option>
        <option value="Dairy">Dairy</option>
        <option value="Other">Other</option>
    </select>  

    
    <div class="mx-auto" style="width: 200px;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div>
        <script>
            $( function() {
              var availableTags = [
                  {% for ingredient in ingredients %}
                      "{{ingredient}}",
                  {% endfor %}
              ];
              $( "#tags" ).autocomplete({
                source: availableTags
              });
            } );
            </script>
    </div>
    
    
</form>
{% endblock %}
