<!doctype html>
<html lang="en">
  <head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/utensils-solid.svg') }}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="{{url_for('static', filename='js/external/jquery/jquery-3.6.0.min.js')}}"></script>

    <!-- Popper must be imported AFTER jquery but BEFORE bootstrap -->
    <script src="{{url_for('static', filename='js/external/popper/popper.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/external/bootstrap/bootstrap-4.1.3/bootstrap.min.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/external/bootstrap/bootstrap-4.1.3/bootstrap.css') }}"> 

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/external/bootstrap/bootstrap-select/bootstrap-select.css') }}"> 
    <script src="{{url_for('static', filename='js/external/bootstrap/bootstrap-select/bootstrap-select.js')}}"></script>


    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('user_page')}}">Meal Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('create')}}">New Recipe</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('plan_meals')}}">Plan Meals</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('copy_recipes')}}">Copy Recipes</a>
            </li>
              
            </ul>
        </div>
    </nav>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}

          {% if category == "message" %}
            <div class="alert alert-info">{{ message }}</div>
            
          {% else %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}

        {% endfor %}
        {% block content %} {% endblock %}
    </div>

  </body>
</html>
