{% extends 'base.html' %}

{% block content %}

<!-- TODO fix this -->
<meta id="ingredient-data" data-name="ingredient-data" data-value="{{ingredients}}">

<script>

    var table = ''; 

    
    // var djangoData = $('#ingredient-data').data().value;
    // console.log(typeof djangoData);
    // djangoData.forEach(function(dataPoint) {
    //     console.log(dataPoint)
    // });

    function getSelected() {

        // Doing this enables us to show/hide the modal and reserve its data
        // TODO: THIS WILL NOT ALLOW USERS TO UPDATE INGREDIENTS ONCE ADD SAVE HAS BEEN PRESSED
        if( table ) {
            $('#unitModal').modal('show');
        } else {
            
            // Get the ingredients selected from the dropdown
            const values = $('#ingredients').val();
            console.log(values)
            // const values = $('#ingredients').children("option:selected");
           
            // Build the table
            table += '<table class="table"> <thead> <tr> <th scope="col">Ingredient</th> <th scope="col">Quantity</th> <th scope="col">Unit</th> </tr> </thead> <tbody>'
            values.forEach(function(ingredient) {
                table += '<tr> <td>' + ingredient + '</td>'
                table += '<td>' + '<input type="number" id=' + ingredient + '_quantity' + '></td>'
                table += '<td> <select id=' + ingredient + '_unit' + '>' + '<option value="cup">Cup</option> <option value="item">Item</option> </select> </td>'
                table += '</tr>'
                }); 
            table += '</tbody> </table>'
            
            // Send this value to the Modal
            document.getElementById("ingredients_list").innerHTML = table
        }
    }
    
    // This little guy will hide our modal
    function save() {

        // This is jQuery
        $('#unitModal').modal('hide');

        // Get the ingredients selected from the dropdown
        const values = $('#ingredients').val();

        let selected_ingredients = []

        values.forEach(function(ingredient) {
            console.log(ingredient)
        }); 


        // const name = $("#Onion_quantity").val()
        // console.log(name)

        $.post( '{{ url_for("create") }}', { name: "John", time: "2pm" })
            .done(function( data ) {
                alert( "Data Loaded: " + data );
            });
    };

    function getIngredientById(ingred_id) {
        
    }
</script>

<h1>{% block title %} Create a New Recipe {% endblock %}</h1>

<form method="post">
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Recipe name" class="form-control" value="{{ request.form['name'] }}">
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" placeholder="Recipe notes"
                  class="form-control">{{ request.form['notes'] }}</textarea>
    </div>
    
    <!--Lets make this into a drop down using Bootstrap-->
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <textarea name="cuisine" placeholder="Cuisine type"
            class="form-control">{{ request.form['cuisine'] }}</textarea>
    </div>
        
    <!--This is for the dynamic boxes-->
    <label for="ingredients">Ingredients</label><br/>
    <select name='ingredients' id='ingredients' class="selectpicker" multiple data-live-search="true">
        {% for ingredient in ingredients %}
            "<option value="{{  ingredient.id }}">{{  ingredient.name  }}</option>"
        {% endfor %}
    </select>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" onclick="getSelected()" data-toggle="modal" data-target="#unitModal">Add</button>

    <br/><em style="font-size:0.8rem;">Can't find an ingredient? <a href="{{url_for('add_ingredient')}}">Create one here.</a></em>

    <br/><button type="submit" id="create" class="btn btn-primary" style="margin-top:15px; font-size:1.5rem;">Create Recipe</button>

    <!-- Modal -->
    <div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="unitModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Input Quantity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

                <p id="ingredients_list"></p>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="save()" class="btn btn-primary">Save</button>
            </div>
        </div>
        </div>
    </div>
</form>

{% endblock %}


