{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center; font-family: 'Comic Sans MS', cursive;">{% block title %} Pick some yummy meals {% endblock %}</h1>
    
<form method="post">

    <div class="input-group mb-3">
        <select name='recipes' class="selectpicker" multiple data-live-search="true">
            {% for recipe in recipes %}

                {% if recipe.selected %}
                    <option selected>{{  recipe.name  }} </option>
                {% else %}
                    <option>{{  recipe.name  }} </option>
                {% endif %}

            {% endfor %}
        </select>   
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" name="submit_button" value="submit_button" type="submit">Update</button>
        </div>
    </div>
    
    <button class="btn btn-danger" name="submit_button" value="remove_button" type="submit">Uncheck All Selected Recipes</button>
</form>
    
{% endblock %}