{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Lets Meal Plan {% endblock %}</h1>
    
<form method="post">

    <div class="input-group mb-3">
        <select name='recipes' class="selectpicker" multiple data-live-search="true", id="recipe-picker" ontouchstart="preventKeyboard(event)">
            {% for recipe in recipes %}
    
                {% if recipe.selected %}
                    "<option selected>{{  recipe.name  }} </option>"
                {% else %}
                    "<option>{{  recipe.name  }} </option>"
                {% endif %}
    
            {% endfor %}
        </select>   
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" name="submit_button" type="submit">Update</button>
        </div>
    </div>
    
    
</form>

<script>
    function preventKeyboard(event) {
      var target = event.target;
      target.focus();
      setTimeout(function() {
        target.blur();
      }, 100);
    }
    </script>
</script>
    
{% endblock %}