{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} {{ recipe.name }} {% endblock %}</h2>

<form method="post">

  <span class="badge badge-primary">{{ recipe.cuisine }}</span>

  {% for line in recipe.notes %}
      <div>{{ line }}</div>
  {% endfor %}

  <table class="table">
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Ingredient</th>
        </tr>
      </thead>

      <tbody>
        {% for ingredient in ingredients %}
            <tr>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.name }}</td>
            </tr>
        {% endfor %}
      </tbody>

  </table>

  <div class="mx-auto" style="width: 200px;">
    <button class="btn btn-outline-secondary" name="submit_button" type="submit" value="edit">Edit</button>
    <!-- TODO: Make this delete an are you sure? menu -->
    <button class="btn btn-outline-secondary" name="submit_button" type="submit" value="delete">Delete</button>
  </div>

</form>

{% endblock %}