{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ recipe.name }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ recipe.cuisine }}</span>

    {% for line in recipe.notes %}
        <div>{{ line }}</div>
    {% endfor %}

    <br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Ingredients</th>
          </tr>
        </thead>

        <tbody>
        {% for ingredient in recipe.ingredients %}
            <tr>
            <td>{{  ingredient }}</td>
            </tr>
        {% endfor %}
        </tbody>

      </table>

{% endblock %}