{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Lets Meal Plan {% endblock %}</h1>
    
<!--Using a jinja for loop, this will loop over each item returned from app.py-->
    {% for recipe in recipes %}
        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
            <h2>{{ recipe.name }}</h2>
        </a>
        <span class="badge badge-primary">{{ recipe.cuisine }}</span>
        <hr>
    {% endfor %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Quantity</th>
            <th scope="col">Name</th>
          </tr>
        </thead>

        <b>Ingredients</b>
        <tbody>
        {% for key, value in ingredients.items() %}
            <tr>
            <td>{{  value  | replace("item", "") | replace(".0", "")}}</td>
            <td>{{  key.split("-")[0]  }}</td>
            </tr>
        {% endfor %}
        </tbody>

      </table>

      <div class="fixed-bottom">
        <input class="form-control form-control-sm" type="text" placeholder="Current Meal Plan ID: {{  user_id  }}" readonly>
      </div>
     
    
{% endblock %}