{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Lets Meal Plan {% endblock %}</h1>
    
<!--Using a jinja for loop, this will loop over each item returned from app.py-->
    {% for recipe in recipes %}
        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
            <h2>{{ recipe.name }}</h2>
        </a>
        <span class="badge badge-primary">{{ recipe.cuisine }}</span>
        <hr>
    {% endfor %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quantity</th>
          <th scope="col">Name</th>
          <th scope="col">Done</th> <!-- Added column for remove button -->
        </tr>
      </thead>

        <!--This will sort ingredients by category and list them accordingly-->
        <b>Ingredients</b>
        <tbody>
          {% for category, ingredients in ingredients|groupby('category') %}
            <tr>
              <th colspan="3">{{ category }}</th>
            </tr>
            {% for ingredient in ingredients %}
              <tr onclick="moveToDone(this)">
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.name }}</td>
                <td><button class="btn btn-danger">Remove</button></td> <!-- Added remove button -->
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      <h1>Done</h1> <!-- Added "Done" title -->
      <table id="doneTable" class="table">
        <tbody>
        </tbody>
      </table>

      <script>
        function moveToDone(row) {
          var doneTable = document.getElementById("doneTable");
          doneTable.getElementsByTagName("tbody")[0].appendChild(row);
        }
      </script>

      <div class="fixed-bottom">
        <input class="form-control form-control-sm" type="text" placeholder="Current Meal Plan ID: {{  user_id  }}" readonly>
      </div>
     
    
{% endblock %}