<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>@import url("static/css/style.css");</style>
   </head>
   <body>

      <div class="bg-img">
         <form method="post" class="container">
            <h1>Lets Meal Plan</h1>
            <label for="email"><b>Meal PlanID</label>
            <input type="text" placeholder="Enter Meal PlanID" name="user_id" required>
            <button type="submit" name="submit_button" class="btn" value="enter">Enter</button>
            <button class="btn" name="submit_button" type="submit" value="new">Generate new Meal Plan ID</button>
         </form>
      </div>
   </body>
</html>
